<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Home page</title>
</head>

<body>
    <h1>MAIN MENU</h1>
    <div id="CenterBlock">
        <a href="../blogs" style="color:#aaa;">to the blogs</a>
    
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta laudantium quasi possimus quos delectus, labore cum qui quibusdam explicabo aliquam perferendis aliquid recusandae harum natus vero atque tempora, placeat sapiente. 
        </p>
    </div>


</body>

</html>